<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  {% load auth__extras %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'diary/style2.css' %}" />
  <title>{% block title %}Dziennik Elektroniczny{% endblock %}</title>
</head>
<body>
  <header>
    <br>
    <center><h1>Dziennik elektroniczny</h1></center>
    <br>
    <div id="menu">
      <ul>
        {% if request.user|has_group:"Students" %}
          <li><a href="{% url 'diary:marks' %}">Oceny</a></li>
          <li><a href="{% url 'diary:frequency' %}">Frekwencja</a></li>
          <li><a href="{% url 'diary:teachers' %}">Lista Nauczycieli</a></li>
          <li><a href="{% url 'diary:students' %}">Lista Uczniów</a></li>
          <li style="float:right"><a href="{% url 'diary:login' %}">Logout</a></li>
        {% else %}
          <li><a href="{% url 'diary:marks_t' %}">Oceny</a></li>
          <li><a href="{% url 'diary:frequency_t' %}">Frekwencja</a></li>
          <li><a href="{% url 'diary:teachers' %}">Lista Nauczycieli</a></li>
          <li><a href="{% url 'diary:students' %}">Lista Uczniów</a></li>
          <li style="float:right"><a href="{% url 'diary:login' %}">Logout</a></li>
        {% endif %}
      </ul>
    </div>
  </header>
  
  <main>
    <div id="container">
      <h2>Welcome, {{ user.username }} !</h2>
      {% block content %} {% endblock %}
    </div>
  </main>
  
  <footer>
    <div id="footer_left">
        Wykonali: Kamil Oleksy, Pavel Nasytka, Adrian Łupiński
    </div>
    <div id="footer_right">
        Copyright 2017. All right reserved
    </div>
  </footer>
</body>
</html>