{% extends 'diary/base.html' %}

{% block title %}Frequency{% endblock %}

{% block content %}
    <table align="center">
        <tr>
            <th>Data</th>
            <th>Przedmiot</th>
            <th>Obecność</th>
        </tr>
        {% for f in frequency %}
            {% if today.month == f.date.month %}
                <tr>
                    <td>{{ f.date }}</td>
                    <td>{{ f.subject.name }}</td>
                    <td>{{ f.present }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endblock %}