{% extends 'diary/base.html' %}

{% block title %}Frequency{% endblock %}

{% block content %}
    <div class="frequency">
        <div class="frequency2">
        <form action="{% url 'diary:frequency_t' %}" method="post">
        {% csrf_token %}
        <h3>Obecność ucznia:</h3></br>
        Student: 
        <select name="students">
            {% for s in students %}
                    <option value="{{s}}" >{{s.first_name}} {{s.last_name}}</option>
            {% endfor %}
        </select></br>
        Przedmiot: 
        <select name="subjects">
            {% for s in subjects %}
                    <option value="{{s}}" >{{s.name}}</option>
            {% endfor %}
        </select></br>
        Data: 
        <input type="date" name="date" size="5%" placeholder="YYYY-MM-DD"></br>
        <input type="radio" name="present" value="obecny" checked="checked"> Obecny
        <input type="radio" name="present" value="nieobecny"> Nieobecny</br></br>
        <input type="submit" value="Zatwierdź">
        </form>
        </div>
    </div>
{% endblock %}