<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'diary/style.css' %}" />
  <title>{% block title %}Dziennik Elektroniczny{% endblock %}</title>
</head>
<body>
  <header>
    <center><h1>Dziennik elektroniczny</h1></center>
  </header>
  
  <main>
    <div class="login">
    <div id="container">
      <form action="{% url 'diary:login' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div id="container2">
          <input type="submit" value="Log in">
        </div>
     </form>
    </div>
    </div>
  </main>

  <footer>
    <div id="footer_left">
        Wykonali: Kamil Oleksy, Pavel Nasytka, Adrian Łupiński
    </div>
    <div id="footer_right">
        Copyright 2017. All right reserved
    </div>
  </footer>
</body>
</html>