{% extends 'diary/base.html' %}

{% block title %}Marks{% endblock %}

{% block content %}
    <div class="marks">
        <div class="marks2">
        <form action="{% url 'diary:marks_t'  %}" method="post">
        {% csrf_token %}
        <h3>Dodaj ocenę dla ucznia:</h3></br>
        Student: 
        <select name="students">
            {% for s in students %}
                    <option value="{{s}}" >{{s.first_name}} {{s.last_name}}</option>
            {% endfor %}
        </select></br>
        Przedmiot: 
        <select name="subjects">
            {% for s in subjects %}
                    <option value="{{s}}" >{{s.name}}</option>
            {% endfor %}
        </select></br>
        Ocena: 
        <input type="text" name="mark" size="3%" placeholder="[1,2,3,4,5,6]"></br>
        Komentarz:
        <input type="text" name="comment" size="2%" placeholder="[s,k,w,pd]"></br></br>
        <input type="submit" value="Dodaj"> 
        </form>
        </div>                        
    </div>
{% endblock %}