{% extends 'diary/base.html' %}

{% block title %}Marks{% endblock %}

{% block content %}
    <table align="center">
        <tr>
              <th>Przedmioty</th>
              <th>Oceny</th>
              <th>Komentarz</th>
          </tr>
        {% for s in subjects %}
        <tr>
            <td>{{ s.name }}</td>
            <td>
                {% for m2 in marks %}
                    {% if s.name == m2.subject.name %}
                        {{ m2.mark }},
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for m2 in marks %}
                    {% if s.name == m2.subject.name %}
                        {{ m2.comment }},
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}