{% extends 'diary/base.html' %}

{% block title %}Students{% endblock %}

{% block content %}
    <table align="center">
        <tr>
            <th>Imie</th>
            <th>Nazwisko</th>
            <th>E-mail</th>
        </tr>
        {% for s in students %}
        <tr>
            <td>{{ s.first_name }}</td>
            <td>{{ s.last_name }}</td>
            <td>{{ s.email }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}