{% extends 'diary/base.html' %}

{% block title %}Teachers{% endblock %}

{% block content %}
     
    <table align="center">
        <tr>
            <th>Imie</th>
            <th>Nazwisko</th>
            <th>E-mail</th>
        </tr>
        {% for t in teachers %}
        <tr>
            <td>{{ t.first_name }}</td>
            <td>{{ t.last_name }}</td>
            <td>{{ t.email }}</td>
        </tr>
        {% endfor %}
    </table>
    
{% endblock %}