footer {
    color: white; 
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: rgba(222, 184, 135, 0.7)
    
}

header {
    background-color: rgba(148, 188, 143, 0.7);
}



#footer_left {
    color: black;
    float: left;
}

#footer_right {
    color: black;
    float: right;
}

h1 {
    color:black;
    font-size: 30px;
}

h2 {
    color:black;
    font-size: 15px;
    text-align: right;
}

#menu {
    background-color: rgba(222, 184, 135, 0.7)
}

body {
    margin: 0px;
    background: white url("images/background.jpg")no-repeat fixed center center;
    background-size: cover;
    font-family: Montserrat;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color:silver;
}





table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    background-color: rgba(148, 188, 143, 0.7);
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

/*div.frequency {
    background-color: rgba(148, 188, 143, 0.7);
}*/

div.frequency2 {
    text-align: center;
}

div.marks2 {
    text-align: center;
}