footer {
    color: white; 
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
}

#footer_left {
    color: black;
    float: left;
}

#footer_right {
    color: black;
    float: right;
}

h1 {
    color:black;
    font-size: 30px;
}

body {
    background: white url("images/background.jpg")no-repeat fixed center center;
    background-size: cover;
    font-family: Montserrat;
}

#container {
    color: black;
    position: absolute;
    width: 900px;
    height: 500px;
    z-index: 15;
    top: 50%;
    left: 47%;
    margin: -100px 0 0 -150px;
}

#container2 {
    margin-left: 150px;
}

